@model GalleryViewModel;

@inject IUnitOfWork unite
@{
    var department = new SelectList(await unite.HairArtist.GetAll(), "Id", "name");
}
@{
    ViewData["Title"] = "Details";
  
}

<h1>Details</h1>

<div class="container">
    <form asp-action="Details" enctype="multipart/form-data">
        <div class="form-group">
            <label class="col-form-label" asp-for="Decsription"></label>
            <input class="form-control" readonly asp-for="Decsription" />

        </div>
        <div class="form-group">
            <label class="col-form-label">HairArtist</label>
            <select class="form-control" asp-for=HairArtistId asp-items="@department">
                <option value="@null">---Select HairArtist----</option>
            </select>
        </div>
        <div class="form-group">
            <img src="~/File/image/@Model.ImageName" class="w-50" />
        </div>
        <a class="btn btn-success ms-2" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a class="btn btn-outline-primary" asp-action="Index">Back To List</a>
    </form>
</div>

