@model int;
<td><a class="btn btn-outline-warning" asp-action="Details" asp-route-id="@Model">Details</a></td>
<td><a class="btn btn-outline-success"  asp-action="Edit" asp-route-id="@Model">Update</a></td>
<td><a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@Model">Delete</a></td>