<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <h1>Create @ViewData["form"]</h1>
        @RenderBody()
    </div>

  
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    
</body>
</html>
